#scrolling-text {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* .horizontal-scroll { 
    overflow: hidden; 
    white-space: nowrap; 
    display: flex; 
    align-items: center; 
    height: 100vh; 
}

.horizontal-text {
    display: inline-block; 
    font-size: 2rem; 
    padding: 0 50vw; 
    animation: scroll 10s linear infinite;
}

.word { opacity: 0; display: inline-block; margin-right: 5px; }
.bubble { background: #ffcc00; padding: 5px 10px; border-radius: 20px; font-weight: bold; transform-origin: center; } */

 .horizontal-scroll { overflow: hidden; white-space: nowrap; display: flex; align-items: center; height: 100vh; position: relative; }
 .horizontal-wrapper { display: flex; }
 .horizontal-text { display: inline-block; font-size: 2rem; padding: 0 50vw; white-space: nowrap; }
 .word {
    /* font-size: 10vw; */
    font-size: 48px;
    opacity: 0; 
    display: inline-block; 
    margin-right: 5px; 
    /* transition: 1s; */
}
.bubbles-wrapper {
    /* position: relative; */
    width: 300px;
}
.bubbles-wrapper .bubble:nth-child(1) {
    background-color: red ;
    top: -100px;
    left: 50px;
    position: relative;
}
.bubbles-wrapper .bubble:nth-child(2) {
    background-color: green ;
    top: -20px;
    /* right: -100px; */
    /* left: 0; */
    /* start text sma as first child */
    position: absolute;
    /* width: 300px; */
}
.bubbles-wrapper .bubble:nth-child(3) {
    background-color: blue ;
    top: 20px;
    right: 333px;
    /* left: 130px; */
    /* start text sma as first child */
    position: relative;
    /* float: left; */
}
 .bubble { 
    background: #ffcc00; 
    padding: 15px 20px; 
    border-radius: 20px; 
    font-weight: bold; 
    transform-origin: center; 
    font-size: 72px;
}
.bubble:nth-child(2) {
    background-color: aqua ;
}

.bubble:nth-of-type(3) {
    /* background-color: blue ; */
}

.split-wrapper {
    position: relative;
}

.split:nth-child(1) {
    /* background-color: red ; */
    top: -20px;
    position: relative;
}
.split:nth-child(2n) {
    /* background-color: green ; */
    top: 20px;
    left: 0;
    /* start text sma as first child */
    position: absolute;
}

.extra-bubbles {
    background-color: blueviolet;
    /* display: none; */
    /* opacity: 0; */
}
.extra-bubble{
    position: absolute;
    opacity: 0;
    transform: scale(0.5) translateY(50px);
    transition: opacity 0.3s, transform 0.3s;
    background-color: rgb(227, 128, 240);
    padding: 10px 20px;
    border-radius: 20px;
}
.extra-bubbles span:nth-child(2n) {
    background-color: lightgreen;
}

.extra-bubbles span:nth-child(2n) {
    background-color: salmon;
}
.extra-bubbles span:nth-child(3n){
    background-color: aquamarine;
}